@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --background: 195 30% 90%;
  --foreground: 195 30% 10%;
  --card: 195 30% 95%;
  --card-foreground: 195 30% 10%;
  --popover: 195 30% 95%;
  --popover-foreground: 195 30% 10%;
  --primary: 195 60% 50%;
  --primary-foreground: 195 30% 98%;
  --secondary: 195 30% 85%;
  --secondary-foreground: 195 30% 20%;
  --muted: 195 20% 80%;
  --muted-foreground: 195 30% 30%;
  --accent: 195 40% 70%;
  --accent-foreground: 195 30% 10%;
  --destructive: 0 60% 50%;
  --destructive-foreground: 195 30% 98%;
  --border: 195 30% 80%;
  --input: 195 30% 80%;
  --ring: 195 60% 50%;

  --radius: 0.4rem;
}

.dark {
  --background: 195 30% 10%;
  --foreground: 195 30% 90%;
  --card: 195 30% 15%;
  --card-foreground: 195 30% 90%;
  --popover: 195 30% 15%;
  --popover-foreground: 195 30% 90%;
  --primary: 195 60% 50%;
  --primary-foreground: 195 30% 10%;
  --secondary: 195 30% 25%;
  --secondary-foreground: 195 30% 90%;
  --muted: 195 20% 30%;
  --muted-foreground: 195 30% 70%;
  --accent: 195 40% 40%;
  --accent-foreground: 195 30% 90%;
  --destructive: 0 60% 50%;
  --destructive-foreground: 195 30% 10%;
  --border: 195 30% 30%;
  --input: 195 30% 30%;
  --ring: 195 60% 50%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* custom setting up */
html {
  scroll-behavior: smooth !important;
}
body {
  overscroll-behavior: none;
}

/* @layer base {/ */
/* Button {
    @apply mix-blend-difference
  } */
/* } */
